Source: kbd
Section: utils
Priority: extra
Maintainer: Denis Barbier <barbier@debian.org>
Build-Depends: debhelper (>= 4), linuxdoc-tools, bison, flex | flex-old, gettext, quilt
Standards-Version: 3.6.2

Package: kbd
Architecture: any
Depends: ${shlibs:Depends}, sysvinit (>= 2.74), console-common, dpkg (>= 1.4.0.21)
Recommends: console-data (>= 1999.08.29-13)
Provides: console-utilities, open
Conflicts: console-utilities, kbd-data, open, util-linux (<< 2.11)
Replaces: open, util-linux (<< 2.11)
Description: Linux console font and keytable utilities
 This package allows you to set up the Linux console, change the font,
 resize text mode virtual consoles and remap the keyboard.
