#!/usr/bin/make -f
# -*- makefile -*-
# 
# debian/rules file for the `kbd' package

package=kbd

ARCH=$(shell dpkg --print-architecture)

topdir=$(shell pwd)
debdir=${topdir}/debian
tmpdir=${debdir}/${package}
bindir=${tmpdir}/bin
sbindir=${tmpdir}/sbin
ubindir=${tmpdir}/usr/bin
usbindir=${tmpdir}/usr/sbin
docdir=${tmpdir}/usr/share/doc/${package}
udebdir=${debdir}/kbd-udeb

configure: configure-stamp
configure-stamp:
	autoconf
	${topdir}/configure --prefix=/usr \
		--datadir=/usr/share --mandir=/usr/share/man \
		--enable-nls
	touch $@

build-udeb: build-udeb-stamp
build-udeb-stamp: configure
	dh_testdir
	rm src/*.o
	rm src/kbd_mode src/loadkeys src/setfont
	make -C src CFLAGS="-Os -g -Wall" ARCH=${ARCH} loadkeys kbd_mode setfont
	mv src/loadkeys src/loadkeys-udeb
	mv src/kbd_mode src/kbd_mode-udeb
	mv src/setfont src/setfont-udeb
	rm src/*.o
	touch $@

build: build-stamp
build-stamp: configure
	dh_testdir
	rm -f src/*.o
	rm -f src/kbd_mode src/loadkeys src/setfont
	make -C src CFLAGS="-Os -g -Wall" ARCH=${ARCH} loadkeys kbd_mode setfont
	mv src/loadkeys .
	mv src/kbd_mode .
	mv src/setfont .
	rm -f src/*.o
	make CFLAGS="-O2 -g -Wall" ARCH=${ARCH}
	make CFLAGS="-O2 -g -Wall" ARCH=${ARCH} -C src screendump setlogcons setvesablank
	make CFLAGS="-O2 -g -Wall" ARCH=${ARCH} -C contrib codepage splitfont vcstime
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f loadkeys kbd_mode setfont
	rm -f contrib/codepage contrib/splitfont contrib/vcstime
	rm -f src/setvesablank src/screendump src/setlogcons
	-make reallyclean ARCH=${ARCH}
	dh_clean

install: build-stamp
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs -a
	make DESTDIR=${tmpdir} LOADKEYS_BINDIR=${tmpdir}/bin ARCH=${ARCH} install-progs install-man
	-@find ${topdir}/data/*_Z -name '\.svn' -exec rm -rf {} \; 2>/dev/null

# install contribs
	install -m 755 ${topdir}/contrib/codepage ${ubindir}
	install -m 755 ${topdir}/contrib/splitfont ${ubindir}
	install -m 755 ${topdir}/contrib/vcstime ${usbindir}

# install misc
	install -m 755 ${topdir}/src/screendump ${ubindir}
	install -m 755 ${topdir}/src/setlogcons ${ubindir}
	install -m 755 ${topdir}/src/setvesablank ${usbindir}

# correct locations
	mv ${ubindir}/kbdrate ${sbindir}
	mv ${ubindir}/kbd_mode ${bindir}
	mv ${ubindir}/setfont ${bindir}
	mv ${ubindir}/fgconsole ${bindir}
	mv ${ubindir}/openvt ${bindir}
	mv ${ubindir}/chvt ${bindir}
	mv ${ubindir}/dumpkeys ${bindir}
	mv ${ubindir}/unicode_start ${bindir}

# open compat symlink
	ln -s openvt ${bindir}/open
	ln -s openvt.1 ${tmpdir}/usr/share/man/man1/open.1

# install files for the udeb
	install -m 755 ${topdir}/loadkeys ${udebdir}/bin
	install -m 755 ${topdir}/kbd_mode ${udebdir}/bin
	install -m 755 ${topdir}/setfont ${udebdir}/bin


binary-indep:
	dh_testdir

binary-arch:	install
	dh_testdir -a
	dh_testroot -a
	dh_installman -pkbd
	dh_installdocs -a -X.svn
	mv ${tmpdir}/usr/share/doc/kbd/utf/invalid_name "${tmpdir}/usr/share/doc/kbd/utf/♪♬"

# do not install the FAQ/HOWTO (already in doc-linux)
	rm ${docdir}/kbd.FAQ*
	install -m 755 ${topdir}/data/keymaps/i386/mk_modmap ${ubindir}
# some deb-specific files
	install -m 644 debian/conffiles.d/config ${tmpdir}/etc/kbd/
	install -m 644 debian/conffiles.d/remap ${tmpdir}/etc/kbd/

	dh_installinit --init-script=console-screen.kbd.sh -r -u"start 48 S ."
	dh_installchangelogs CHANGES
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

# Below here is fairly generic really

deb:
	dpkg-buildpackage -rfakeroot -i'/\.svn'

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean checkroot build install
